#addSkillBtn{
    display: none;
    padding: 0.5rem 1rem;
}

#addSkillBtn:hover{
    cursor: pointer;
}

#allSkillList{
    display: none;
    margin-top: 2rem;
}

#allSkillList div{
    margin-bottom: 1rem;
}