*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LRSides {
    display: flex;
    width: 60%;
}

.LeftSideContainer {width: 50%;}

.RightSideContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mainBtn{
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: larger;
    border-radius: 10px;
}

.mainUpperBtn{ 
    width: 60%;
}

.mainCentral4Btn {
    width: 90%;
}
  
.mainBtn:hover {
    cursor: pointer;
    background-color: aliceblue;
}